.feed-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.photo-feed {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 2rem;
}

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  height: 15vh;
}

/* Media query for tablets and smaller devices */
@media (max-width: 1024px) {
  .photo-feed {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .feed-container {
    padding: 1rem;
  }

  .photo-feed {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
    gap: 1rem;
  }
}
