.social-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 75%;
  border-top: 1px solid #d2d2d2;
  padding-top: 1rem;
}

.heading {
  color: #2a292a;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.list-item {
  margin-right: 1rem;
}

.list-item a {
  text-decoration: none;
  color: inherit;
}

.social-section .icon {
  font-size: 24px;
  color: #767676;
}

.social-section .link-icon {
  transform: rotate(45deg);
}
.icon:hover {
  color: #111111;
}
